<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha Paciente</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h2>Nombre del Paciente</h2> <!-- Aquí el doctor puede ingresar el nombre -->
    </div>
    <div class="info-item">
      <label for="control">FECHA 1°ER CONTROL</label>
      <input type="text" id="control" value="" placeholder="">
    </div>
    <div class="info-item">
      <label for="prevision">PREVISION</label>
      <input type="text" id="prevision" value="" placeholder="">
    </div>
    <div class="info-item">
      <label for="edad">EDAD</label>
      <input type="text" id="edad" value="" placeholder="">
    </div>
    <div class="info-item">
      <label for="sangre">G.SANGUINEO</label>
      <input type="text" id="sangre" value="" placeholder="">
    </div>
    <div class="info-item">
      <label for="estado-civil">ESTADO CIVIL</label>
      <input type="text" id="estado-civil" value="" placeholder="">
    </div>
    <div class="info-item">
      <label for="direccion">DIRECCIÓN</label>
      <input type="text" id="direccion" value="" placeholder="">
    </div>
    <div class="info-item">
      <label for="telefono">TELEFONO</label>
      <input type="text" id="telefono" value="" placeholder="">
    </div>
  </div>
