<nav class="sidebar">
    <div class="sidebar-header">
      <h4>Project Name</h4>
      <small>Category</small>
    </div>
    <ul>
      <li>
        <a routerLink="/datos-generales" routerLinkActive="active">
          <i class="icon"></i> Paciente
        </a>
      </li>
      <li>
        <a routerLink="/almacenamiento" routerLinkActive="active">
          <i class="icon"></i> Almacenamiento
        </a>
      </li>
      <li>
        <a routerLink="/ficha-examenes" routerLinkActive="active">
          <i class="icon"></i> Ficha de Exámenes
        </a>
      </li>
      <li>
        <a routerLink="/ficha-ginecologica" routerLinkActive="active">
          <i class="icon"></i> Ficha Ginecológica
        </a>
      </li>
      <li>
        <a routerLink="/ficha-obstetrica" routerLinkActive="active">
          <i class="icon"></i> Ficha Obstétrica
        </a>
      </li>
      <li>
        <a routerLink="/paciente" routerLinkActive="active">
          <i class="icon"></i> Datos Generales
        </a>
      </li>
      <li>
        <a routerLink="/cerrar-sesion" routerLinkActive="active">
          <i class="icon"></i> Cerrar Sesión
        </a>
      </li>
    </ul>
  </nav>
  
