<div class="register-form-container">
    <h2>REGISTRARSE</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <!-- Grupo de entrada de Email -->
      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Ingresa tu email"
          required
        />
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error">
          Email es requerido o no es válido.
        </div>
      </div>
  
      <!-- Grupo de entrada de Contraseña -->
      <div class="input-group">
        <label for="password">Password</label>
        <div class="password-container">
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="************"
            required
          />
          <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error">
            La contraseña es requerida y debe tener al menos 6 caracteres.
          </div>
        </div>
      </div>
  
      <!-- Botón de Registro -->
      <button type="submit">REGISTRARSE</button>
    </form>
  
    <!-- Enlace a iniciar sesión -->
    <p class="login-link">¿YA TIENES UNA CUENTA? → <a href="#">INICIA SESIÓN</a></p>
  </div>
  